<nav class="sticky top-0 bg-teal-700 p-9 flex items-center justify-between text-teal-100 font-bold">
    <a href="/" class="text-xl transition-transform hover:scale-105 hover:text-teal-50 hover:underline">Home</a>
    <ul class="flex gap-5">
        <li class="cursor-pointer transition-transform hover:scale-105 hover:text-teal-50 hover:underline"><a >Games</a></li>
        <li class="cursor-pointer transition-transform hover:scale-105 hover:text-teal-50 hover:underline"><a >Add game</a></li>
    </ul>
</nav>
