<form
    class="flex flex-col items-center gap-2 bg-teal-50 rounded-xl p-5 w-[45vh]"
>
    <input
        name="title"
        class="rounded-lg w-96 h-8 placeholder:text-center placeholder:text-teal-100 bg-teal-400 focus:bg-teal-400 placeholder-shown:bg-teal-500 text-teal-700 font-semibold px-2 py-1"
        placeholder="Title"
    />
    <input
        name="description"
        class="rounded-lg w-96 h-8 placeholder:text-center placeholder:text-teal-100 bg-teal-400 focus:bg-teal-400 placeholder-shown:bg-teal-500 text-teal-700 font-semibold px-2 py-1"
        placeholder="Description"
    />
    <input
        type="url"
        name="img"
        class="rounded-lg w-96 h-8 placeholder:text-center placeholder:text-teal-100 bg-teal-400 focus:bg-teal-400 placeholder-shown:bg-teal-500 text-teal-700 font-semibold px-2 py-1"
        placeholder="Image url"
    />
    <button
        type="submit"
        class="bg-teal-100 w-80 m-1 rounded-full h-10 text-teal-500 font-bold transition-transform hover:scale-105 hover:text-teal-100 hover:bg-teal-500"
    >
        Add game
    </button>
</form>
